/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Mukta", sans-serif;
}
html {
  font-size: 62.5%;
}
/* Default Styles */
/* Custom Scrollbar*/
body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(#011af7, #0195f7);
}

body::-webkit-scrollbar-track {
  background-color: #b3b3b3;
}

/* End of Custom Scrollbar*/

/* Container */
.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}
/* Navigation */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 12rem;
  padding: 0 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}

.navbar.sticky {
  height: 8rem;
  background-color: #fff;
  box-shadow: 0 1rem 10rem rgba(130, 162, 235, 0.6);
}

/* Logo */
.logo {
  display: flex;
  flex-direction: column;
}
.logo span {
  text-shadow: 0 0.7rem rgba(0, 0, 0, 0.3);
}

.logo span:nth-child(1) {
  font-family: "Mooli", cursive;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.logo span:nth-child(1) span {
  display: inline-block;
  font-size: 1.8rem;
  transform: translateY(-0.8rem);
}

.logo span:nth-child(2) {
  display: inline-block;
  font-family: "Croissant One", cursive;
  font-size: 1.5rem;
  color: #ddd;
  letter-spacing: 0.1rem;
  text-align: right;
  transform: translate(4.2rem, -1rem);
}
.sticky .logo span {
  color: #092627;
  text-shadow: 0 0.7rem rgba(206, 206, 206, 0.3);
}

.multi-page-nav .logo span {
  color: #092627;
  text-shadow: 0 0.7rem rgba(206, 206, 206, 0.3);
}

/* Logo */

/* Nav Items */
.nav-items {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  list-style: none;
  position: relative;
}

.nav-item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 2.9rem;
  left: 50%;
  transform: translateX(-50%);
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.nav-item:hover::after {
  opacity: 1;
  visibility: visible;
}

.sticky .nav-item::after {
  top: 6rem;
}

.nav-link {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.7rem rgba(0, 0, 0, 0.3);
}
.sticky .nav-link {
  color: #092627;
  text-shadow: 0 0.7rem rgba(206, 206, 206, 0.3);
}

.multi-page-nav .nav-link {
  color: #092627;
  text-shadow: 0 0.7rem rgba(206, 206, 206, 0.3);
}

/* Dropdown 1 */
.dropdown {
  position: absolute;
  top: 4.9rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 6px 5px 6px #000;
  padding: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.sticky .dropdown {
  top: 8rem;
  box-shadow: 0 1rem 10rem rgba(130, 162, 235, 0.6);
  box-shadow: 6px 5px 6px #000;
}

.dropdown-1 {
  left: -24rem;
  width: 99rem;
  height: 51rem;
  display: flex;
}

.dropdown-1-left {
  width: 30%;
  padding-right: 4rem;
}

.dropdown-1-right {
  width: 70%;
  padding-left: 2rem;
}

.dropdown-1-left h3,
.dropdown-1-right h3 {
  font-family: "Mooli", cursive;
  font-size: 1.8rem;
  color: #011af7;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.3);
}

.features-list-item {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.features-list-item i {
  font-size: 2.3rem;
  width: 4rem;
  color: #4d565e;
  transition: color 0.3s;
}

.features-list-item:hover i {
  transform: scale(1.1);
}

.features-list-item span {
  font-size: 1.3rem;
  color: #8698a7;
  font-weight: bold;
  transition: color 0.3s;
}

.features-list-item:hover i,
.features-list-item:hover span {
  color: #000;
}

.dropdown-services {
  height: 37rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.dropdown-service,
.product {
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem;
  cursor: pointer;
}

.dropdown-service i,
.product i {
  width: 5.5rem;
  height: 5.5rem;
  background-color: #8698a7;
  border: 1px solid #5f6c77;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-right: 2rem;
  align-items: center;
  font-size: 2.5rem;
  color: #fff;
  box-shadow: 6px 5px 6px #000;
  transition: transform 0.3s;
}

.dropdown-service:hover i,
.product:hover i {
  transform: scale(1.1);
  color: #000;
}

.dropdown-service-item,
.product div {
  display: flex;
  flex-direction: column;
}

.dropdown-service-item span,
.product div span {
  font-size: 1.2rem;
  color: #6d7983;
}
.dropdown-service-item span:nth-child(1),
.product div span:nth-child(1) {
  font-family: "Mooli", cursive;
  font-weight: bold;
  color: #475058;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.dropdown-service-item:hover span,
.product:hover div span {
  font-size: 1.2rem;
  color: #000;
}

.dropdown-service-item span:nth-child(2),
.product div span:nth-child(2) {
  font-weight: 500;
}

.dropdown-1-right button {
  width: 100%;
  height: 4rem;
  background: linear-gradient(to left, #01581b, #2b9c4d);
  border: 1px solid #012c0e;
  border-radius: 3rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.3rem;
  cursor: pointer;
  box-shadow: 6px 5px 6px #000;
  transition: transform 0.3s;
}
.dropdown-1-right button:hover {
  transform: translateY(-0.3rem);
}
/* Dropdown 1 */

/* Dropdown 2 */
.dropdown-2 {
  width: 90rem;
  height: 37rem;
  left: -27rem;
  display: flex;
}

.clients-item {
  width: 100%;
  margin: 0 0.5rem;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 1rem;
  transition: transform 0.3s;
}
.clients-item:hover {
  transform: translateY(-0.5rem);
}

.clients-item:nth-child(1) {
  background: linear-gradient(to right, #969696, #c0c0c0);
  box-shadow: 6px 5px 6px #646464;
}
.clients-item:nth-child(2) {
  background: linear-gradient(to right, #969696, #c0c0c0);
  box-shadow: 6px 5px 6px #646464;
}
.clients-item:nth-child(3) {
  background: linear-gradient(to right, #969696, #c0c0c0);
  box-shadow: 6px 5px 6px #646464;
}
.clients-item:nth-child(4) {
  background: linear-gradient(to right, #969696, #c0c0c0);
  box-shadow: 6px 5px 6px #646464;
}

.clients-item i {
  font-size: 10rem;
}
.clients-item:nth-child(1) i,
.clients-item:nth-child(1) h3 {
  color: #7301a0;
}
.clients-item:nth-child(2) i,
.clients-item:nth-child(2) h3 {
  color: #7301a0;
}
.clients-item:nth-child(3) i,
.clients-item:nth-child(3) h3 {
  color: #7301a0;
}
.clients-item:nth-child(4) i,
.clients-item:nth-child(4) h3 {
  color: #7301a0;
}

.clients-item h3 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  line-height: 3.5rem;
  margin-bottom: 0.7rem;
}

.clients-item p {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  color: #515152;
}

/* End of Dropdown 2 */

/* Dropdown 3 */

.dropdown-3 {
  width: 40rem;
  height: 47rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem 2rem 2rem;
}

.product {
  margin: 1.7rem 0;
}

.dropdown-3 button {
  width: 100%;
  height: 4rem;
  background: linear-gradient(to left, #01581b, #2b9c4d);
  border: 1px solid #012c0e;
  border-radius: 3rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1rem;
  cursor: pointer;
  box-shadow: 6px 5px 6px #000;
  transition: transform 0.3s;
}

.dropdown-3 button:hover {
  transform: translateY(-0.3rem);
}

/* End of Dropdown 3 */

/* Dropdown 4 */

.dropdown-4 {
  width: 35rem;
  height: 39rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem 2rem 2rem;
}

.contact-options div {
  margin: 1.4rem 0;
  cursor: pointer;
}

.contact-options i {
  width: 5rem;
  font-size: 3rem;
  color: #000;
}

.contact-options span {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #646464;
}

.dropdown-4 button {
  width: 100%;
  height: 4rem;
  background: linear-gradient(to left, #01581b, #2b9c4d);
  border: 1px solid #012c0e;
  border-radius: 3rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1rem;
  cursor: pointer;
  box-shadow: 6px 5px 6px #000;
  transition: transform 0.3s;
}

.dropdown-4 button:hover {
  transform: translateY(-0.3rem);
}

/* End of Dropdown 4 */

/*Dropdown 5 */
.dropdown-5 {
  width: 30rem;
  height: 32rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 2.5rem;
}

.account-input-group {
  display: flex;
  flex-direction: column;
}

.account-input-group input {
  width: 100%;
  height: 5rem;
  background-color: #e2e2e2;
  padding: 0.5rem 1rem;
  margin-bottom: 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #000;
  box-shadow: 6px 5px 6px #363636;
}

.account-input-group input::placeholder {
  color: #999;
}

.check {
  margin-top: -2rem;
}

.check label {
  font-size: 1.6rem;
  font-weight: 300;
  color: #777;
}

.account-form button {
  width: 100%;
  height: 4rem;
  background: linear-gradient(to left, #011af7, #0195f7);
  border: 1px solid #020f83;
  border-radius: 3rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1rem;
  cursor: pointer;
  margin: 3rem 0 1.5rem 0;
  box-shadow: 6px 5px 6px #000;
  transition: transform 0.3s;
}

.account-form button:hover {
  transform: translateY(-0.3rem);
}

.account-form p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.account-form p span {
  color: #0195f7;
  cursor: pointer;
  font-weight: 400;
}

/* End of Dropdown 5 */

.nav-btn {
  width: 9.5rem;
  height: 3.5rem;
  margin-top: 0rem;
  background: linear-gradient(to left, #011af7, #0195f7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  color: white;
  text-transform: uppercase;
  transition: transform 0.3s;
}
.nav-btn:hover {
  transform: translateY(-0.3rem);
}

.sticky .nav-btn {
  background: linear-gradient(to left, #0195f7, #011af7);
  color: #fff;
}

.multi-page-nav .nav-item .nav-btn {
  background: linear-gradient(to left, #0195f7, #011af7);
  color: #fff;
}

/* Nav Items */
/* Navigation */

/* Header */
header {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Banner */
.banner {
  position: absolute;
  top: 18%;
  left: 20%;
  z-index: 4;
}

.banner h1 {
  font-family: "Mooli", cursive;
  font-size: 13rem;
  color: #fff;
  text-shadow: 0.1rem 2rem rgba(0, 0, 0, 0.3);
}
.banner h3 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0.7rem rgba(0, 0, 0, 0.3);
  margin: 0 0 3rem 1rem;
}

.banner button {
  width: 15rem;
  height: 5rem;
  background: linear-gradient(to left, #01581b, #2b9c4d);
  border: 0.5px solid #01581b;
  border-radius: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  margin-left: 1rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.banner button:hover {
  transform: translateY(-0.3rem);
}

.sticky .nav-btn {
  background: linear-gradient(to left, #0195f7, #011af7);
  color: #fff;
}

.multi-page-nav .nav-item .nav-btn {
  background: linear-gradient(to left, #0195f7, #011af7);
  color: #fff;
}

/* Banner */

/* Backgrounds */
.backgrounds div {
  position: absolute;
}

.bg-main {
  width: 150%;
  height: 150%;
  background: linear-gradient(to left, transparent, #363636, #1f1e1e);
  top: -95%;
  left: -10%;
  transform: rotateZ(-15deg) skewX(30deg);
  border-radius: 0 0 0 10rem;
  opacity: 0.9;
  z-index: 1;
  box-shadow: -23px -11px 17px #000;
}
.bg-1 {
  width: 50%;
  height: 100%;
  background: linear-gradient(transparent 60%, #808080, #000000);
  top: -30%;
  right: 8%;
  transform: rotateZ(-15deg) skewX(30deg);
  border-radius: 0 0 0 5rem;
  box-shadow: -23px -11px 17px #000;
  z-index: 3;
  opacity: 15;
}

.bg-2 {
  width: 50%;
  height: 100%;
  background: linear-gradient(transparent 70%, #858585, #000000);
  top: -60%;
  right: 8%;
  transform: rotateZ(-15deg) skewX(30deg);
  border-radius: 0 0 0 5rem;
  z-index: 2;
  opacity: 15;
  box-shadow: -23px -11px 17px #000;
}
/* Backgrounds */

/* Services */
.services {
  width: 100%;
  height: 190vh;
  position: relative;
}

.services-wrapper {
  width: 75%;
  background: #fff;
  box-shadow: 12px 6px 12px #000;
  border: 1px solid #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6rem 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.services-wrapper h1 {
  font-family: "Mooli", cursive;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #394353;
  letter-spacing: 0.1rem;
  margin-bottom: 8rem;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  width: 28%;
  height: 35rem;
  margin: 0 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service i {
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: transform 0.3s;
}
.service:hover i {
  cursor: pointer;
  transform: scale(1.1);
}
.service:nth-child(1) i {
  background: linear-gradient(#fff, #4c5dfc, #6dc4fd 60%);
  border: 0.1px solid #011af7;
  box-shadow: 6px 3px 9px #011af7;
}
.service:nth-child(1):hover i {
  background: linear-gradient(#fff, #011af7, #6dc4fd 60%);
  border: 0.1px solid #011af7;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #011af7;
}

.service:nth-child(2) i {
  background: linear-gradient(#fff, #31dca1, #7ffcc2 60%);
  border: 0.1px solid #31dca1;
  box-shadow: 6px 3px 9px #016441;
}
.service:nth-child(2):hover i {
  background: linear-gradient(#fff, #016441, #01cc6d 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #016441;
}

.service:nth-child(3) i {
  background: linear-gradient(#fff, #016e8a, #76e4ff 60%);
  border: 0.1px solid #016e8a;
  box-shadow: 6px 3px 9px #016e8a;
}
.service:nth-child(3):hover i {
  background: linear-gradient(#fff, #016e8a, #76e4ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #016e8a;
}

.service:nth-child(4) i {
  background: linear-gradient(#fff, #fd9800, #f8d39b 60%);
  border: 0.1px solid #fd9800;
  box-shadow: 6px 3px 9px #fd9800;
}
.service:nth-child(4):hover i {
  background: linear-gradient(#fff, #fd9800, #f8d39b 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #fd9800;
}

.service:nth-child(5) i {
  background: linear-gradient(#fff, #7301a0, #d261ff 60%);
  border: 0.1px solid #7301a0;
  box-shadow: 6px 3px 9px #7301a0;
}
.service:nth-child(5):hover i {
  background: linear-gradient(#fff, #7301a0, #d261ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #7301a0;
}

.service:nth-child(6) i {
  background: linear-gradient(#fff, #800116, #fc8b9e 60%);
  border: 0.1px solid #800116;
  box-shadow: 6px 3px 9px #800116;
}
.service:nth-child(6):hover i {
  background: linear-gradient(#fff, #800116, #fc8b9e 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #800116;
}

.service:nth-child(7) i {
  background: linear-gradient(#fff, #fc758c, #727ffa 60%);
  border: 0.1px solid #727ffa;
  box-shadow: 6px 3px 9px #2c40f7;
}
.service:nth-child(7):hover i {
  background: linear-gradient(#fff, #fc758c, #727ffa 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #2c40f7;
}

.service:nth-child(8) i {
  background: linear-gradient(#fff, #046101, #0ef006 60%);
  border: 0.1px solid #046101;
  box-shadow: 6px 3px 9px #046101;
}
.service:nth-child(8):hover i {
  background: linear-gradient(#fff, #046101, #0ef006 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #046101;
}

.service:nth-child(9) i {
  background: linear-gradient(#fff, #665300, #f5d440 60%);
  border: 0.1px solid #665300;
  box-shadow: 6px 3px 9px #665300;
}
.service:nth-child(9):hover i {
  background: linear-gradient(#fff, #665300, #f5d440 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #665300;
}

.service h3 {
  font-family: "Mooli", cursive;
  font-size: 2rem;
  color: #5e728f;
  margin: 2rem 0;
  text-align: center;
}
.service p {
  font-size: 1.6rem;
  color: #8698a7;
  text-align: center;
}

.services-bg-1 {
  width: 80rem;
  height: 80rem;
  background: linear-gradient(#6dc4fd, #4c5dfc, #6dc4fd 60%);
  border-radius: 50%;
  position: absolute;
  top: -10%;
  right: 1%;
  opacity: 0.3;
}

.services-bg-2 {
  width: 80rem;
  height: 80rem;
  background: linear-gradient(#727ffa, #fc758c, #727ffa 60%);
  border-radius: 15%;
  position: absolute;
  bottom: -5%;
  left: 4%;
  opacity: 0.3;
  transform: rotateZ(-10deg);
}
/* End of Services */

/* Projects */
.projects {
  width: 100%;
  height: 100%;
  padding: 25rem 0 15rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h1 {
  font-family: "Mooli", cursive;
  font-size: 6rem;
  color: #394353;
  text-align: center;
  margin-bottom: 4rem;
}

.projects p {
  width: 100rem;
  text-align: center;
  font-size: 2rem;
  color: #8698a7;
  margin-bottom: 4rem;
}

.filter-nav {
  width: 80%;
  height: 10rem;
  background-color: #f1f1f1;
  border: 1px solid #011af7;
  box-shadow: 6px 5px 6px #011af7;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 6rem;
}

.filter-nav-link {
  width: 14rem;
  height: 5rem;
  background-color: #fff;
  border: 1px solid #011af7;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #011af7;
  letter-spacing: 0.1rem;
  transition: transform 0.3s;
}

.filter-nav-link:hover {
  color: #fff;
  background-color: #3245f1;
  transform: translateY(-0.3rem);
}

.active {
  color: #fff;
  background-color: #3245f1;
}

.active:hover {
  background-color: #011af7;
}

.projects-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 33rem;
  height: 33rem;
  position: relative;
  margin: 4rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.project:hover {
  transform: scale(1.1);
}

.project.hide {
  display: none;
}

.project img {
  position: absolute;
  object-fit: cover;
  top: 50%;
  border: 1px solid #363636;
  border-radius: 1rem;
}

.project img:nth-child(1) {
  width: 22rem;
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 18px 16px 12px #363636;
  z-index: 2;
}
.project img:nth-child(2) {
  width: 20rem;
  height: 30rem;
  left: -5%;
  transform: translateY(-50%);
  box-shadow: 18px 16px 12px #818181;
  z-index: 1;
}

.project img:nth-child(3) {
  width: 100%;
  height: 70%;
  right: -10%;
  transform: translateY(-50%);
  box-shadow: 6px 5px 6px #000;
}
/* End of Projects */

/* Templates */
.templates {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #222222, #4254f7, #6dc4fd, #727ffa);
  position: relative;
}

.templates-left {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 25rem 10rem 0 10rem;
}
.templates-left h1 {
  font-family: "Mooli", cursive;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0.7rem rgba(0, 0, 0, 0.781);
  margin-bottom: 3rem;
}

.templates-left p {
  width: 45rem;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #e2e2e2;
  text-shadow: 0 0.3rem rgba(0, 0, 0, 0.781);
  margin-bottom: 7rem;
}
.templates-btn {
  width: 30rem;
  height: 6rem;
  background: linear-gradient(#cbdceb, #8698a7);
  border: none;
  border-radius: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #2f324d;
  text-shadow: -0.1rem 0.1rem rgba(255, 254, 254, 0.781);
  box-shadow: 6px 5px 6px #000;
  cursor: pointer;
  transition: transform 0.3s;
}

.templates-btn:hover {
  transform: translateY(-0.3rem);
}

.templates-right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.templates-right img {
  position: absolute;
  border-radius: 1rem;
}

.templates-right img:nth-child(1) {
  width: 40rem;
  top: 55%;
  right: 25%;
  transform: translateY(-50%);
  box-shadow: 9px 8px 6px #000;
  z-index: 1;
  opacity: 0.8;
}

.templates-right img:nth-child(2) {
  width: 35rem;
  height: 45rem;
  top: 22%;
  left: -10%;
  z-index: 1;
  box-shadow: 9px 8px 6px #000;
}

.templates-right img:nth-child(3) {
  width: 60rem;
  top: 28%;
  right: 5%;
  box-shadow: 9px 8px 6px #000;
  opacity: 0.5;
}

.play-button {
  position: absolute;
  top: 40%;
  left: 23%;
  z-index: 5;
}

.play-btn {
  width: 20rem;
  height: 20rem;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 12px 6px 18px #000;
  cursor: pointer;
  transition: all 0.3s;
}

.play-btn:hover {
  transform: scale(1.1);
}

.play-btn::before {
  content: "";
  width: 26rem;
  height: 26rem;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 12px 6px 18px #000;
  transition: all 0.3s;
}

.play-btn:hover::before {
  transform: translate(-50%, -50%) scale(0.9);
}

.play-btn i {
  font-size: 7rem;
  color: #000;
}
/* End of Templates */

/* Subcribe */
.subcribe {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #222222, #4254f7, #6dc4fd, #727ffa);
  display: flex;
  justify-content: center;
  align-items: center;
}
.subcribe-wrapper {
  width: 80%;
  height: 50rem;
  background-color: #7b70a5;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}

.subcribe-icon span {
  font-size: 15rem;
  color: #011af7;
  transition: transform 0.3s;
}

.subcribe-icon span:hover {
  transform: scale(1.1);
}

.subcribe-wrapper h1 {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: #fff;
  margin-top: -5rem;
  text-shadow: 0 0.3rem rgba(0, 0, 0, 0.781);
}

.subcribe-wrapper p {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #fff;
  margin-top: -5rem;
  text-shadow: 0 0.2rem rgba(0, 0, 0, 0.781);
}

.subcribe-input-group {
  width: 60rem;
  height: 6rem;
  position: relative;
}

.subcribe-input-group input {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1b1629;
  border: none;
  border-radius: 5rem;
  padding: 1rem 1rem 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
}

.subcribe-input-group input::placeholder {
  font-size: 1.6rem;
  color: #fff;
}

.subcribe-input-group button {
  width: 16rem;
  height: 100%;
  background-color: #644def;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 5rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 0.2s;
  color: #fff;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.2rem rgba(0, 0, 0, 0.781);
  cursor: pointer;
}

.subcribe-input-group button:hover {
  transform: scale(1.1);
}

.subcribe-shadow {
  width: 80%;
  height: 12rem;
  background-color: #000;
  position: absolute;
  bottom: -7rem;
  left: 50%;
  transform: translateX(-50%) rotateX(70deg);
  border-radius: 30%;
  filter: blur(3rem);
  opacity: 0.7;
}
/* End of Subcribe */

/* Footer */
footer {
  width: 100%;
  height: 75vh;
  padding: 10rem 0 3rem 0;
}
.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-top {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer-social-media {
  width: 30%;
}

.footer-item {
  display: flex;
  flex-direction: column;
}
.footer-item h3 {
  font-family: "Mooli", cursive;
  font-size: 2.5rem;
  color: #394353;
  margin-bottom: 2rem;
}
.icons i {
  font-size: 3rem;
  margin-right: 2rem;
  cursor: pointer;
}

.icons i:nth-child(1) {
  color: #1877f2;
}

.icons i:nth-child(2) {
  color: #c32aa3;
}

.icons i:nth-child(3) {
  color: #0a66c2;
}

.icons i:nth-child(4) {
  color: #1da1f2;
}

.icons i:nth-child(5) {
  color: #bd081c;
}

.icons i:nth-child(6) {
  color: #ea4c89;
}

.icons i:nth-child(7) {
  color: #ff0000;
}

.footer-item a {
  font-size: 1.8rem;
  color: #717f8a;
  margin-bottom: 1.3rem;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 0.3rem solid rgba(0, 122, 170, 0.2);
  padding-top: 1rem;
}

.footer-bottom a {
  font-family: "Mooli", cursive;
  font-weight: bold;
  font-size: 2rem;
  color: #394353;
}

/* End of Footer */

/* End of Container */
